:root {
  --color-1: #094074;
  --color-2: #3C6997;
  --color-3: #E5EAFA;
  --color-4: #5ADBFF;
  --color-5: #66C7F4;
  --color-6: #FF6D00;
}

@media (max-width: 768px) {
  .progress-width {
    width: 90% !important;
  }
  /* .content-view {
    width: 100% !important;
  } */
  .sidenav {
    margin-left: -250px;
    position: absolute;
    z-index: 10;
  }
  .sidenav.active {
    margin-left: 0 !important;
  }
}

.bg-color-1 {
  background-color: var(--color-1) !important;
}

.bg-color-2 {
  background-color: var(--color-2) !important;
}

.bg-color-3 {
  background-color: var(--color-3) !important;
}

.bg-color-4 {
  background-color: var(--color-4) !important;
}

.bg-color-5 {
  background-color: var(--color-5) !important;
}

.bg-color-6 {
  background-color: var(--color-6) !important;
}

.color-1 {
  color: var(--color-1) !important;
}

.color-2 {
  color: var(--color-2) !important;
}

.color-3 {
  color: var(--color-3) !important;
}

.color-4 {
  color: var(--color-4) !important;
}

.color-5 {
  color: var(--color-5) !important;
}

.color-6 {
  color: var(--color-6) !important;
}

body {
  background-color: var(--color-3);
  overflow: hidden;
}

.bg-foto {
  background-image: url('/image/foto-2.jpg') !important;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
}

.foto-container {
  width: 70% !important;
  border-radius: 50%;
  background-color: var(--color-4);
}

.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  background-color: rgba(25, 101, 126, 0.336) !important;
}

.content-view {
  width: calc(100% - 250px);
}

.banner {
  width: 100%;
  height: 25%;
  /* background-image: url('/image/neural.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover; */
}

.banner-title {
  font-size: 5em !important;
  font-weight: 100;
  font-family: monospace;
}

.cursos-pointer:hover {
  cursor: pointer !important;
}

.sidenav {
  width: 250px !important;
  transition: all .3s;
}

.sidenav.active {
  margin-left: -250px;
}

.sidenav-item>a {
  color: var(--darkest-blue) !important;
  transition: color, .5s;
  text-decoration: none;
}

.sidenav-item:hover>a {
  color: white !important;
}

.sidenav-item {
  color: var(--color-5) !important;
  transition: background-color, .5s;
  transition: border, .5s;
}

.sidenav-item:hover {
  background-color: var(--color-4);
  color: var(--color-1) !important;
  transition: color, .5s;
  transition: background-color, .5s;
  cursor: pointer;
  border-style: solid;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-color: var(--color-1)
}

.progress-width {
  width: 65%;
  transition: width, .5s;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}